 <!-- Skills Section -->
    <section class="success" id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-xs-5" align="right">
                        <p>Programming</p>
                    </div>
                    <div class="col-xs-7">
                        <p>Java, Ruby, Python</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5" align="right">
                        <p>Mobile</p>
                    </div>
                    <div class="col-xs-7">
                        <p>Android</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5" align="right">
                        <p>Web</p>
                    </div>
                    <div class="col-xs-7">
                        <p>Bootstrap, JavaScript, HTML, CSS</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5" align="right">
                        <p>Database</p>
                    </div>
                    <div class="col-xs-7">
                        <p>SQLite</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5" align="right">
                        <p>Others</p>
                    </div>
                    <div class="col-xs-7">
                        <p>Git, Heroku</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
